* {
    margin:0;
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
}
#whole_page {
    background-color:aquamarine;
}
#page {
    background-color:white;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    height:29.7cm;
    width:21cm;
}
#text_area {
    padding:1.5cm 2cm;
}
#my_name {
    font-size:35px;
    font-family:arial;
}
#job {
    font-size:20px;
    color:rgb(255, 69, 0);
    font-weight: bold;
}
#contacts{
    padding-top:10px;
}
.underlined{
    padding-top:35px;
    font-size:26px;
    text-decoration: underline;
    font-weight: bold;
}
.after_underlined{
    padding-top:8px;
    font-size:24px;
}
.orange_text{
    color:orangered;
    font-size:18px;
}
p.contacts-container{
    padding-right:50px;
}
img.contacts-container {
    padding-right:10px;
}
.contacts-container {
    height:18px;
    float:left;
}
p.job-container{
    padding-right:20px;
}
img.job-container {
    padding-right:10px;
}
.job-container{
    height:18px;
    float:left;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }