* {
    margin:0;
}
#whole_page {
    background-color:aquamarine;
}
#page {
    background-color:white;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    height:29.7cm;
    width:21cm;
}
#text_area {
    padding:1.5cm 2cm;
}
#my_name {
    font-size:35px;
    font-family:arial;
}
#job {
    font-size:20px;
    color:rgb(255, 69, 0);
    font-weight: bold;
}
#contacts{
    padding-top:10px;
}
p.contacts-container{
    padding-right:50px;
}
img.contacts-container {
    padding-right:10px;
}
.contacts-container {
    height:18px;
    float:left;
    font-size:100%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }