body {
    background-color: #d7c6ac;
    background-image: url("001.jpg")
}
p {
    color:blueviolet;
    font-size: 90px;
    text-align: center;
    background-image: linear-gradient(to bottom, red, blue);
}
#cat {
    border: 5px dashed #3de7a6;
    border-radius: 70px;
    padding: 0px;
    width: 400px;
    align-self: center;
}
img:hover {
    box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.2);
    }